/* src/index.css */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#root {
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
}