name: tests_and_build_docs

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  # -------------------------
  # Run pytest
  # -------------------------
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'
          cache-dependency-path: |
            backend/pyproject.toml

      - run: sudo apt update
      - run: sudo apt install -y libcairo2-dev pkg-config python3-dev zbar-tools

      - run: pip install backend/ 

      - run: pytest


  # -------------------------
  # Build documentation
  # -------------------------
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'
          cache-dependency-path: |
            backend/pyproject.toml

      - run: sudo apt update
      - run: sudo apt install -y libcairo2-dev pkg-config python3-dev zbar-tools

      - run: pip install backend/

      - run: pdoc backend/ -o docs/

      - uses: actions/upload-pages-artifact@v4
        with:
          path: docs/


  # -------------------------
  # Deploy to GitHub Pages
  # -------------------------
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
